body {
	font: 1em Arial;
	background-image: url(https://i.pinimg.com/originals/14/06/66/14066651e10a710d8a6a09b450eb1dba.jpg); 
}

.container {
	margin: 50px;
	column-width: 200px;
	column-gap: 100px;
	column-rule: 2px dashed rgba(0,0,0,.5);
	height: 500px;
}