body {
	font-family: Monotype Corsiva;
	font-size: 1.2em;
	background: url(http://www.photos-public-domain.com/wp-content/uploads/2012/05/baby-blue-circle-patterned-plastic-texture.jpg);
}

li {
    list-style-type: none;
    padding-left: 167px;
   }
   
ul {
    margin-left: 0; 
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

p {
	padding: 0 167px 0 167px;
}

.item1 { grid-area: header; color: blue;}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header  header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 40px;
  background-color: rgba(0,0,0,.1);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, .2);
  padding: 20px 0;
  font-size: 30px;
  text-align: left;
}

.img1 {
	display: box;
	float: left;
	cursor: pointer;
}

.text_footer {
	font-size: 0.6em;
}

.poisk {
  border: 2px solid black;
  background: #777;
}