body {
	font-family: Monotype Corsiva;
	font-size: 1.2em;
	background: url(http://rulib.info/uploads/11_05_2013/view/201210/oboik.ru_58130.jpg);
}

.header {
	display: block;
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 150px;
}

.main {
	display: block;
	width: 98%;
	height: 150px;
	position: relative;
	background: rgba(0,0,0,.4);
	margin: auto;
}

.item1 {
	display: block;
	position: relative;
	float: left;
	margin-left: 10px; 
}

.item2 {
	display: block;
	position: relative;
	float: left;
	color: red;
	margin-left: 10px; 
}

.item3 {
	display: block;
	position: relative;
	float: left;
	margin: 55px 70px;
}
