body {
	background: url(http://www.kartinki.me/pic/201209/2560x1440/kartinki.me-8210.jpg);
	font: 1em Tahoma, Arial;
}

.obv {
	perspective: 500px;
	width: 450px;
	height: 200px;
}

.video {
	width: 450px;
	height: 350px; 
}

.container {
	background: rgba(0,0,0,.3);
	width: 450px;
	height: 350px;
	margin: 100px;
	line-height: 150px;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	border: 3px solid red;
	border-radius: 8px; 

	transform: rotate3d(1,0,-1,40deg);
}
