.cardsTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3rem;
}

.card {
    display: inline-block; 
    margin: 25px 35px 35px 30px;
}

.card-body {
    background-color: rgba(0,50,50,.1);
}

body {
    background: url(https://www.nastol.com.ua/pic/201309/2560x1600/nastol.com.ua-59584.jpg);
}


.pagimax {
    display: block;
    margin-left: 42%;
}

.page-footer {
    float: left;
    padding-left: 2.5%;
    font-size: 1em;
    font-family: Arial;
    color: grey;
}