body {
	background: url(https://www.stelimpro.ru/wp-content/uploads/2016/08/zwalls.ru-35163.jpg);
	font: Tahoma;
	text-transform: uppercase;
}

/********* Main menu *********/

.nav {
	list-style: none;
	padding: 0;
	margin: 40px;
	width: 50px;
	opacity: .5;

	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

.nav:hover {
	opacity: 1;
}

.nav li {
	width: 50px;
	height: 50px;
	overflow: hidden;

	transition: width .2s ease-in-out, height .2s ease-in-out 0.2s;
	-moz-transition: width .2s ease-in-out, height .2s ease-in-out 0.2s;
	-o-transition: width .2s ease-in-out, height .2s ease-in-out 0.2s;
	-webkit-transition: width .2s ease-in-out, height .2s ease-in-out 0.2s;
}

.nav li:hover {
	width: 200px;
	height: 175px;
}

.nav li a {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: #bbb;
	margin: 1px;
	color: #fff;
	padding-left: 15px;
	cursor: pointer;

	-moz-transition: background .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out; 
	-o-transition: background .2s ease-in-out; 
	transition: background .2s ease-in-out;  

}

.nav li a:hover {
	background: #2fc5ff;
}

.nav li a:first-child {
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-indent: 36px;
}

.nav li a:first-child:before {
	content: '';
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 9px;
	left: 9px; 
}

.main-menu a:first-child:before {
	background: url(https://icon-icons.com/icons2/1744/PNG/32/3643769-building-home-house-main-menu-start_113416.png)
	center no-repeat;
}

.settings a:first-child:before {
	background: url(https://icon-icons.com/icons2/508/PNG/32/settings_icon-icons.com_49858.png)
	center no-repeat;
}

.link a:first-child:before {
	background: url(https://icon-icons.com/icons2/906/PNG/32/link_icon-icons.com_70055.png)
	center no-repeat;
}

.search a:first-child:before {
	background: url(https://icon-icons.com/icons2/692/PNG/32/seo-social-web-network-internet_340_icon-icons.com_61497.png)
	center no-repeat;
}
