body {
	background: url(https://www.wallpapersrc.com/img/0c0f7e7ea920430c94d08ea2e2cd10bb/gray-circle-on-a-blue-background-textures-2560x1600.jpg);
}


.button {
	display: inline-block;
	margin: 60px;
	width: 100px;
	height: 100px;
	background: url(https://www.wallpapersrc.com/img/0c0f7e7ea920430c94d08ea2e2cd10bb/gray-circle-on-a-blue-background-textures-2560x1600.jpg);
	cursor: pointer;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	box-shadow: 0px 5px 20px green;
	-moz-box-shadow: 0px 5px 20px green;
	-webkit-box-shadow: 0px 5px 20px green;

}

.button:hover {
	box-shadow: inset 0px 5px 10px green;
}

.button:after {
	content: '.';
	width: 100px;
	height: 100px;
	display: block;
	opacity: .7;
}

.btn-steam:after {
	background: url(https://icon-icons.com/icons2/1293/PNG/48/2363405-game-play-steam-valve_85472.png)
	center no-repeat;
}

.btn-youtube:after {
	background: url(https://icon-icons.com/icons2/855/PNG/48/Play_social_media_corporate_logo_icon-icons.com_67683.png)
	center no-repeat;
}

.btn-market:after {
	background: url(https://icon-icons.com/icons2/99/PNG/48/google_play_socialnetwork_17378.png)
	center no-repeat;
}

.button:hover:after {
	background-position: 53%; 
}