body {
	font-family: Monotype Corsiva;
	font-size: 1.2em;
	background: url(http://www.photos-public-domain.com/wp-content/uploads/2012/05/baby-blue-circle-patterned-plastic-texture.jpg);
}

li {
  list-style-type: none;
  padding-left: 167px;
  padding-right: 42px;
}
   
ul {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

p {
	padding: 0 167px 0 167px;
  float: left;
}

.item1 { grid-area: header; color: green;}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header  header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 5px;
  background-color: rgba(0,0,0,.1);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, .2);
  padding: 20px 0;
  font-size: 30px;
  text-align: left;
}

.grid-container > .item1 {
  background-color: rgba(55, 175, 155, 0.1);
  padding: 0 0 0 0;
  font-size: 30px;
  text-align: left;
}

.grid-container > .item2 {
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0 0 0;
  font-size: 30px;
  text-align: left;
}

.grid-container > .item3 {
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0 0 0;
  font-size: 30px;
  text-align: left;
}

.grid-container > .item4 {
  background-color: rgba(55, 175, 155, 0.1);
  padding: 0 0 0 0;
  font-size: 30px;
  text-align: left;
}

.img1 {
	display: box;
	float: left;
	cursor: pointer;
}

.text_footer {
	font-size: 0.6em;
}

.search1 {
  float:left;
  padding: 50px 0 55px 100px;
}

.button_search {
  float: right;
  cursor: pointer;
}

.poisk_icon {
  background: rgba(0,0,0,.15);
  margin: 4px 0px;
  max-height: 31px;
  float: right;
}

.infos {
  margin: 8px;
  float: left;
  padding-left: 80px;
  padding-top: 9px;
}

.none {
  font-size: 0.6em;
  color: rgb(253, 2, 2);
}

