body {
	font-family: Arial;
	font-size: 1.2em;
	background: url(http://www.kartinkijane.ru/pic/201305/2560x1440/kartinkijane.ru-32995.jpg);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: #2196F3;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 5px 40px blue;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}