body {
 background: url(https://img3.goodfon.ru/original/2560x1600/4/f6/abstrakciya-abstrakcii-410.jpg);
 font: 1em Tahoma, Arial;

}

#wrapper {
 perspective: 900px;
 margin: 80px;
}

#cube {
 position: relative;
 width: 300px;
 height: 300px;
 transform-origin: 50% 50% -150px;
 transform-style: preserve-3d;
 transform: rotate3d(1,1,1,50deg);
}

.side {
 width: 300px;
 height: 300px;
 background: rgba(0,0,0,.3);
 background: radial-gradient(rgba(0, 0, 0,.1), rgba(0, 0, 0,.5));
 position: absolute;
 border: 10px solid #fff;
 border-radius: 10px;
 font-size: 5em;
 color: #fff;
 line-height: 300px;
 text-align: center;
 text-shadow: 0 1px 3px rgba(0,0,0,.4);
 box-shadow: 0 0 6px rgba(0,0,0,.5);
 transform-origin: 50% 50% -150px;
 backface-visibility: unset;

}

#side2 {
 transform: rotateY(90deg);
}

#side3 {
 transform: rotateY(-90deg);
}

#side4 {
 transform: rotateX(90deg);
}

#side5 {
 transform: rotateX(-90deg);
}

#side6 {
 transform: rotateY(180deg);
}