body {
	background: url(http://www.kartinki.me/pic/201209/2560x1440/kartinki.me-8210.jpg);
	font: 1em Arial;
}

.container {
	width: 200px;
	height: 30px;
	border: 3px solid #fff;
	background: #999;
	border-radius: 7px;
	overflow: hidden;
	margin: 40px;
	box-shadow: 0 5px 7px rgba(0,0,0,.5);
}

.bar {
	width: 400px;
	height: 30px;
	background: repeating-linear-gradient(45deg, rgba(255,255,255,.9) 0, rgba(255,255,255,.9) 5px, transparent 5px, transparent 10px);
    animation: slide 3s linear infinite;
}

@keyframes slide {
	0% {
		margin: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		margin-left: -100%;
	}
}