body {
	background: url(https://www.stelimpro.ru/wp-content/uploads/2016/08/zwalls.ru-35163.jpg);
	font: Tahoma;
	text-transform: uppercase;
}

.container {
	width: 400px;
	height: 300px;
	float: left;
	margin: 40px;
	background: #999;
	overflow: hidden;
	position: relative;
	cursor: pointer;

	border-radius: 5px;
	box-shadow: 2px 15px 20px #333;

	background: radial-gradient(circle farthest-side at 30px 20px, #fff, #000);
}

.container:after {
	content: '.';
	width: 400px;
	height: 300px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	transition: opacity 0.3s;

	background: radial-gradient(transparent, yellow);
}

.container:hover:after {
	opacity: 0;
}