* {
	transition: all .5s;
}

body {
	background: url(http://www.kartinki.me/pic/201209/2560x1440/kartinki.me-8210.jpg);
	font: 1em Arial;
	padding-top: 15px;
}

.block {
	background: #333;
	width: 940px;
	height: 200px;
	margin: 5px auto;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	position:relative;
}

@media only screen and (min-width: 610px) {
.block:after {
	content: 'New alement';
	position: absolute;
	top: 10px;
	left: -10px;
	background: #222;
	border-radius: 5px;
	padding: 10px;
	color: #eee;
}
}

@media only screen and (max-width: 950px) {
    .block {
		width: 600px;
		background: #24476c;
	}

}

@media only screen and (max-width: 610px) {
    .block {
		width: 320px;
		background: #85221e;
	}

}

.second, .third {
	height: 50px;
}
