body {
	background: #999;
}

.flex-container {
	display: flex;
	height: 600px;
	text-align: center;
	margin: 50px 50px 50px 50px;
	flex-wrap: wrap;
	align-content: flex-center;
	justify-content: center;
	align-items: center;
}

.first {
	width: 50px;
	height: 50px;
	background: green;
	margin: 10px;
}

.second {
	width: 50px;
	height: 50px;
	background: green;
	margin: 10px;
}

.third {
	width: 50px;
	height: 50px;
	background: green;
	margin: 10px;
}

.four {
	width: 50px;
	height: 50px;
	background: green;
	margin: 10px;
}

.five {
	width: 50px;
	height: 50px;
	background: green;
	margin: 10px;
}

.six {
	width: 50px;
	height: 50px;
	background: green;
	margin: 10px;
}